@import '../../../../scss/vars';

#paneSplit{
	display: flex;
	flex-direction: row;

	& > section{
		flex: 1 0 50%;
	}
	& > aside{
		flex: 0 1 600px;
		max-width: 600px;

		h4{
			margin: 15px 0 5px;
			text-align: center;
		}
	}
}

::ng-deep{
	/*.owl-item{
	opacity: 0;
	pointer-events: none;
	transition: 0.5s all;

	&.active{
	opacity: 1;
	pointer-events: all;
}
}*/
}