<!--The content below is only a placeholder and can be replaced.-->
<header id="mainHeader"  [class.opened]="menuOpen">
	<button (click)="menuOpen = !menuOpen">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</button>
	<a id="siteTitle" [routerLink]="['/']">{{ title }}</a>
	<nav>
		<ul>
			<li><a [routerLink]="['/']"><span>{{ 'menu.index._' | translate }}</span></a></li>
			<li><a [routerLink]="['/showroom']"><span>{{ 'menu.showroom._' | translate }}</span></a></li>
			<li><a [routerLink]="['/about']"><span>{{ 'menu.about._' | translate }}</span></a></li>
		</ul>
	</nav>
	<div id="langSwitcher">
		<a *ngFor="let lang of translate.langs" class="flag flag-{{lang}}" [class.active]="translate.currentLang === lang" (click)="changeLang(lang)"></a>
	</div>
</header>
<router-outlet></router-outlet>
<footer class="dark">
	<div><time [dateTime]="today.toISOString()">{{ today | date: 'yyyy' }}</time><i class="footer-sep"></i><a [routerLink]="['/']">iThoughts.io</a><i class="footer-sep"></i>{{ 'footer.rights' | translate }}</div>
</footer>
